<footer class="site-footer">

  <div class="wrapper">
</br>
    <h2 class="footer-heading">Contáctanos.</h2>

    <div class="footer">

        <h3 class="contact-list">
<li>
            {% if site.author %}
              {{ site.author | escape }}
            {% endif %}

</li>
<li>
            {% if site.phone %}
            Whatsapp: <a href="https://wa.me/57{{site.phone}}">{{ site.phone | escape }}</a>
            {% endif %}
            </li>
<li>
            {% if site.email %}
            Correo electrónico: <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}

          </h3>
</br>
        <div class="social-media-list">
            <h2 class="footer-heading">Síguenos en nuestras redes sociales.</h2>
          {% if site.instagram_username %}
          <li>
            {% include icon-github.html username=site.instagram_username %}
          </li>
          {% endif %}

          {% if site.facebook_username %}
          <li>
            {% include icon-twitter.html username=site.facebook_username %}
          </li>
          {% endif %}
        </div>


    </div>

  </div>

</footer>
